<div>
  <p>Make:</p>
  {{#x-select value=selectedMake}}
    {{#each makes as |make|}}
      {{#x-option value=make}}{{make.name}}{{/x-option}}
    {{/each}}
  {{/x-select}}
</div>
<div>
  <p>Model:</p>
  {{#x-select value=selectedModel}}
    {{#each models as |model|}}
      {{#x-option value=model}}{{model.model}}{{/x-option}}
    {{/each}}
  {{/x-select}}
</div>
